<div>
    <form action="/pets/new" method="post" enctype="multipart/form-data"><br>
    <input type="text" name="petName" placeholder="Name of the pet"><br><br>
    <input type="file" name="petImage" placeholder="Pet photo link"><br><br>
    <select name="petSpecies" >
        <option value="dog">Dog</option>
        <option value="cat">Cat</option>
        <option value="parrot">Parrot</option>
    </select><br><br>
    <input type="date" name="petBirthDate" placeholder="Your pet's date of birth"><br><br>

    <button type="submit">Add new pet</button>
    </form>
</div>
