<h1>BEM VINDO!!!</h1>

<form action="/signup" method="post">
    <input type="text" name="userName" placeholder="Digite seu nome"><br>
    {{#if userNameErrors}}
        <span class="warning">{{userNameErrors.[0]}}</span>
    {{/if}}
    <input type="text" name="userEmail" placeholder="Digite seu email"><br>
    {{#if userEmailErrors}}
        <span class="warning">{{userEmailErrors.[0]}}</span>
    {{/if}}
    <input type="password" name="userPassword" placeholder="Crie uma senha"><br>
    {{#if userPasswordErrors}}
        <span class="warning">{{userPasswordErrors.[0]}}</span>
    {{/if}}
    <label for="userBirthDate">Informe a data de nascimento</label><br>
    <input type="date" name="userBirthDate" placeholder="Informe a data de nascimento"><br>
    {{#if userBirthDateErrors}}
        <span class="warning">{{userBirthDateErrors.[0]}}</span>
    {{/if}}

    <button type="submit">Efetuar cadastrar</button>
</form>


